/*
css-snipet-color-values for obsidian
by Costeer
*/
.blue {
  background-color: #DAEDFC;
}

.red {
	background-color: #FFE2DF;
}

.green {
	background-color: #E0FFF4;
}

.yellow {
	background-color: #FFFEDE;
}
