/*
css-snipet-color-values for obsidian
by Costeer
*/
.blue {
  background-color: #DAEDFC;
}

.crust {
  background-color: #181926;
}

.red {
	background-color: #FFE2DF;
}

.green {
	background-color: #E0FFF4;
}

.yellow {
	background-color: #FFFEDE;
}

/*
please dont change color values !!!!!

to add your own colors folow this template!

.colorname {
	background-color: #hexadecimalcolorcode;
}
